
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Global Land Surface Temperature Increase</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-white" href="/">Final Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plots
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/fueltype">Fuel Type</a>
                            <a class="dropdown-item" href="/energybystate">Energy Type by State</a>
                            <a class="dropdown-item" href="/evsales.html">Electric Vehicle Sales</a>
                            <a class="dropdown-item" href="/globaltempincrease">Global Temperature Increase</a>
                            <a class="dropdown-item" href="/evsalesforecast">Electric Vehicle Sales Forecast</a>
                            <a class="dropdown-item" href="/crudeoilforecast">Crude Oil Prices Forecast</a>
                            <a class="dropdown-item" href="/globaltempforecast">Global Temperature Forecast</a>
                            <a class="dropdown-item" href="/lithiumforecast">Lithium Carbonate Prices Forecast</a>
                            <a class="dropdown-item" href="/coalforecast">Coal Usage Forecast</a>
                            <a class="dropdown-item" href="/co2emissionforecast">CO2 Emission Forecast</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Forecasts">ML Forecasts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/MLpredictions">Live ML Predictions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>Global Land Surface Temperature Increase</h3>
                    <hr>
                    <img src="../static/images/global_average_temp_increase.png" width="100%" alt="Global Land Surface Temperature Increase">
                    <br>
                    <p>Global Land Surface Temperature Increase by Year in Celsius. </p>
                </div>
            </div>
            <!--visualizations container adjustments-->
            <div class="col-md-4">
                <div class="col-md-12">
                    <h3>Visualizations</h3>
                    <hr>
                    <div class="row">
                        <div class="col-3-col-md-6">
                            <a href="/fueltype"><img src="../static/images/elec_gen_fuel_type.png" width="100%"  alt="fuel type">
                            </a> 
                        </div>
                        <div class="col-3-col-md-6">
                            <a href="/energybystate"><img src="../static/images/energy_use_state.png" width="100%" alt="Energy Type by State"></a>
                        </div>
                
                    
                        <div class="col-3-col-md-6">
                            <a href="/evsales"><img src="../static/images/ev_phev_sold.png" width="100%"  alt="EV Sales"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/globaltempincrease"><img class="pic" src="../static/images/global_average_temp_increase.png"width="100%"  alt="Global Temp Increase"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/evsalesforecast"><img src="../static/images/electric_vehicle_sales_forecast.png"width="100%"  alt="EV Sales Forecast"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/crudeoilforecast"><img src="../static/images/crude_oil_price_forecast.png"width="100%"  alt="Crude Oil Forecast"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/globaltempforecast"><img src="../static/images/global_surface_temperature_forecast.png"width="100%"  alt="Global Temp Forecast"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/lithiumforecast"><img src="../static/images/lithium_price_forecast.png"width="100%"  alt="Lithium Price Forecast"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/coalforecast"><img src="../static/images/electricity_generation_coal_forecast.png"width="100%"  alt="Coal Use Forecast"></a>
                        </div>

                        <div class="col-3-col-md-6">
                            <a href="/co2emissionforecast"><img src="../static/images/co2_emissions_forecast.png"width="100%"  alt="CO2 Emission Forecast"></a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>    
    </div>
 
</body>
</html>